$bg-color: #1A1A1A;
$border-color: #333333;
$bg-button-color: #1E6F9F;
$hover-color: #8284FA;
$text-color: #F2F2F2;
$disabled-color: #808080;
$bg-header-color: #0D0D0D;
$bg-task-color: #262626;
$error-color: #E25858;
$bg-calendar: #1E1E1E;
$calendar-accent: #812020;
$calendar-text: #ADADAD;
$span-text: #4EA8DE;